@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');
*{
    margin: 0;
    padding:0;
    font-family:  'Poppins';
}
header{
    background: url(./assets/header.jpg);
    background-size: cover;
    background-position:center;
    height: 300px;
    
}
header h1{
    text-align: center;
    font-size:  100px;
    /* background-color: #000; */
    color: #fff;
    padding: 30px 0;
   
}
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor #container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor #container .item{
    max-width: 200px;
    margin: auto;
    border: 3px solid rgb(7, 107, 29);
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor #container .item .img-item{
    width: 100%;
}
.contenedor #container .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor #container .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor #container .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor #container .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: rgb(7, 107, 29);
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.boton-item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}

/* seccion carrito */
#carritoI{
    border: 2px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0px;
    transition: .3s;

    margin-left: 10px;
    /* opacity: 0; */

}

#contador{

    display: flex;
    justify-content: center;
    width: 10%;
    position: fixed;
    top: 0;
    z-index: 20;
    /* background-color: transparent;
    border: 5px solid rgb(7, 107, 29); */
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}

#CantidadCarrito{
    font-size: 18px;
    color: green;
    text-align: center;
    height: 25px;
    width: 25px;
    border: 5px solid rgb(7, 107, 29);
    border-radius: 20px;
}

#contador:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}

#datosItem{

   display: flex;
   
}

#Icarrito{
    width: 100px;
    height: 100px;
    z-index: 20;
    
    
}


#carritoI .header-carrito{
    display: flex;
    justify-content: space-between;
    background-color: rgb(7, 107, 29);;
    color: #fff;
    text-align: center;
    padding: 30px ;
}

.botonMo{
    cursor: pointer;
    transition: .3s;
}

#nameAndImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20%;
}



#carritoI .carrito-item{
    display: flex;
    align-items: center;
    /* background-color: red; */
    /* justify-content: space-between; */
    position: relative;
    border: 1px solid #666;
     padding: 20px; 
}
#img1{
    margin-right: 20px;
    height: 80px;
    width: 100px ;
    display: flex;
    justify-content: center;
    text-align: center;
}




.btn-eliminar{
   /*  position: absolute;
    right: 15px;
    top: 15px; */
    width: 23px;
    height: 23px;
    margin-left: 10px;
    
    line-height: 40px;
    text-align: center;
    
    cursor: pointer;
    
    
    
}


#vaciar
{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: rgb(7, 107, 29);
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;

    margin-top: 20px;
    
}

#total{
    
    padding: 30px;
}




/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    #container{
        width: 100% !important;
    }
    #carritoI{
        width: 100%;
    }
  }